[init]
	defaultBranch = main

[user]
  name = "Alexandre Rames"
  email = "arames@tesla.com"

[color]
	ui = auto

[color "diff"]
	whitespace = red reverse

[core]
	editor = vim
	excludesfile = ~/.config/git/ignore

[alias]
	conflicted = diff --name-only --diff-filter=U
  root = rev-parse --show-toplevel
  sl = log --oneline -n

[push]
	default = nothing

[pull]
	ff = only

[include]
  path = ~/.config/git/local
[safe]
	directory = /home/arames/ecu_mnt/cm/autopilot
	directory = /home/arames/ecu_mnt/ccs/autopilot
